/*NETWORKING PRESENTATION*/



.presentation h1{
    display: grid;
    align-items: center;
    font-size: 50px;
    max-width: 95vw;
    height: 40vh;  
    margin: 0;
  }
  
  .presentation div {
    display: grid;
  }
  
  .presentation {
    position:relative; 
    right:28px;
    display: grid;
    justify-items: center;
    align-items: center;  
    margin: 40px 0px 0px 0px;
    padding: 0%;
    height: 110vh;
    /* border-style: solid; */
  }
  
  .presentation footer{
    position:relative; 
    top: 15vh;
    width: 100vw;
    margin: 0vh;
  }
  
  #previous-slide {
    transform: rotate(180deg);
  }
  
  .presentation .medium-size {
    display: grid;
    font-size: 30px;
    align-self: center;
  }
  
  .presentation .tight-frame {
    height: auto;
  }
  
  .presentation .solo-statement {
    height: 60vh;
  
  }
  
  .presentation .list-slide {
    margin: 10vh;
  
  }
  
  .presentation .small-list {
    margin: 0px;
    padding-left: 90px;
    padding-right: 10px;
  }
  
  .presentation .small-size {
    font-size: 20px;
    text-align: left;
    max-width: 70vw;
  }
  
  .presentation .letter-font {
    align-self: end ;
    margin: 0px 10px 0px 10px;
    padding: 10px;
    text-align: left;
  }
  
  .presentation .letter {
    display: grid;
    justify-items: left;
    height: 60vh;
  }
  