
html {
  min-height: 100%;
}
body {
  height: 100%;
}
#root {
  height:100%;
}

.App {
  text-align: center;
  margin: -3%;
  padding: 1%;
  width: 103.75%;
  height:100vh;
  min-height: 90vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

header {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

img {
  height: 50px;
  width: auto;
  margin: 10px;
}

img:hover {
  filter: grayscale(75%) sepia(25%);
  cursor: pointer;
  outline: 0;
}

#idImg0 {
  animation-duration: 10s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-direction: normal;  
}

#idImg1 {
  animation-duration: 5s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-direction: reverse;  
}

#idImg2 {
  animation-duration: 2s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-direction: alternate;  
}

#idImg3 {
  animation-duration: 25s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;  
}

#idImg4 {
  animation-duration: 0.5s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-direction: inherit;  
}

#idImg5 {
  animation-duration: 10s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-direction: normal;  
}

#idImg6 {
  animation-duration: 5s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-direction: reverse;  
}

#idImg7 {
  animation-duration: 25s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;  
}

@keyframes rotate {
  from {
    transform: rotate(0deg);    
  }

  to {
    transform: rotate(360deg);    
  }
}

img {
  background-color: #eeeeee;
}