button,
h1,
h2,
h3,
ol,
li {
    margin: 5px;  
    margin-left: 30px;  
}

div {
    margin: 10 px;
}
body{
    background-color: forestgreen;
}

.header {
    background-color: forestgreen;
    grid-column: 1 / -1;
}

h1 {
grid-column-start: span 5;
color: lightgray;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px 1fr 1fr 1fr 1fr 60px;
    background-color: white;
}
.container {
    border-style: solid;
    border-color: darkgreen;
    margin: 5px;
    grid-row: 2 / span 3;
    height: 100vh;
    font-size: 18px;

    background-color: lightgreen;
}

.create-account-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.create-account-text {
    grid-column-start: 1;
}

.create-account-input {
    height: 18px;
}
#idCreateAcctButton {
    grid-column-start: 1;
}

.middle {
    grid-column-start: span 2;
    overflow: scroll;

}

.account-card {
    margin: 20px;
    padding: 10px;
    border: solid 1px rgba(0, 255, 42, 0.377);
    height:50 px;

}

.dollar {
    margin: 0px 0px 0px 20px;
}


.footer {
    grid-row-start: 6;
    background-color: forestgreen;
}